<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
      <a class="w3-bar-item w3-button w3-hover-black" class="<%= path === '/secure/risk' ? 'active' : '' %>" href="/secure/risk">Risk Management</a>
      <a class="w3-bar-item w3-button w3-hover-black" class="<%= path === '/secure/standards' ? 'active' : '' %>" href="/secure/standards">Security Standards and Policies</a>
      <a class="w3-bar-item w3-button w3-hover-black" class="<%= path === '/secure/tools' ? 'active' : '' %>" href="#">Architecture</a>
      <a class="w3-bar-item w3-button w3-hover-black" class="<%= path === '/secure/tools' ? 'active' : '' %>" href="#">System Development Life Cycle</a>
      <a class="w3-bar-item w3-button w3-hover-black" class="<%= path === '/secure/tools' ? 'active' : '' %>" href="#">Incident Response Policies</a>
</nav> 