<%- include('./includes/head.ejs') %>
    </head>
    <body>
        <%- include('./includes/navigation.ejs') %> 
        <!-- Sidebar -->
        <%- include('./includes/sidebar-baking.ejs') %>  
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>        

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Baking Bread with Yeast Water</h1>
        <h3>Yeast Water is not Sour Dough Starter.</h3>
        <p>Yeast water is easier to make and can be use to bake bread. All known Sour Dough Starter recipes can be adjusted. It is a try 
          error but if you baked couple of breads you know how yeast water works and how you can use it.
        </p>
        <h2>Sour Dough Content</h2>
        <ul>
          <li><a href="#make">Yeast Water - Make Yeast Water</a></li>
          <li><a href="#bake">Yeast Water- Bread Recipe</a></li>
          <li><a href="#refrig">Yeast Water - Refrigerate Yeast Water</a></li> 
        </ul>
      <br> 
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center"><image src="/images/MyFirstSourDough.jpeg" 
        alt="USS Texas" width="200" height="300"><br>Sour Dough <br>My First Sour Dough Bread</image></p>
    </div>
  </div>
  <%- include('./includes/footer.ejs') %>
</div>
 <%- include('./includes/end.ejs') %>