<%- include('./includes/head.ejs') %>
    </head>
    <body>
        <%- include('./includes/navigation.ejs') %> 
        <!-- Sidebar -->
        <%- include('./includes/sidebar-baking.ejs') %>  
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>        

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Baking Bread with SourDough</h1>
        <h2>Sour Dough Content</h2>
        <ul>
          <li><a href="#make">Sour Dough - Make Sour Doug Starter</a></li>
          <li><a href="#bake">Sour Dough - Bread Recipe</a></li>
          <li><a href="#refrig">Sour Dough - Refrigerate Sour Dough Starter</a></li> 
          <li><a href="#react">Sour Dough - Reactivate Sour Dough from Refrigerator</a></li> 
        </ul>
      <br>  
      <h3 id="make"><a name=“make”><br></a></h3>
      <h3>How to make a Sour Dough Starter</h3>
      <strong>Let get us started: </strong><br>
      <p><strong>Some notes before we start:</strong><br> 
        <ul>
          <li>Please use only unbleached flour</li>
          <li>Please use only filtered water [no chlorine]</li>
          <li>Recommend to use a glass bowl to see progress. Lid is important</li>
        </ul>
       <br>
      </p>
     <p><strong>Important: </strong>Please do not get incouraged when you do not see much activity for a coulple of days. It will still work
        out. Also the water on the top of the sour dough starter is not a bad thing, it is called 'Hooch' and it is a collection of water created during 
        the process when the yeast has not enough 'food' anymore. Other microbioligy reaction taken over and creating the water.
        You can remove the liquid or stir it in. If the later, it might makes the dough a little bit more sour. I haven't tasted the difference
        yet but that might be just me. My suggestion is that you feed the dough more flour than the 1/2 cup but keep the amount of water. That will take 
        care of it.
      </p>
      <p class="scout-first-letter">When I am asking to increase the feeding schedule from daily to feed the starter every 12 hours, do not need to do it on the second means
        +/- 1 or 2 hours is fine as long the starter is not neglected for days.
      </p>
        <ol>
          <dt><strong>Day 1</strong></dt><dd>mix 1/2 cup of flour with 1/2 cup of water and set aside. Best with lid layed on top not closed.</dd>
          <dt><strong>Day 2</strong></dt><dd>just ventilate (open lid and let it breath for some minutes)</dd>
          <dt><strong>Day 3</strong></dt><dd>1. Remove half of the sour dough starter.</dd><dd>2. Feed the other half again with 1/2 cup of flour and 
            1/2 cup of water.</dd>
          <dt><strong>Day 4</strong></dt><dd>Note: Start feeding every 12 hours</dd><dd>1. Remove half of the sour dough starter.</dd><dd>2. Feed the other half again with 1/2 cup of flour and 
            1/2 cup of water.</dd>
          <dt><strong>Day 5</strong></dt><dd>Note: Start feeding every 12 hours</dd><dd>Dough might does not smell like yeast yet but that is normal</dd>
             <dd>1. Remove half of the sour dough starter.</dd><dd>2. Feed the other half again with 1/2 cup of flour and 
              1/2 cup of water.</dd>
          <dt><strong>Day 6</strong></dt><dd>Note: Start feeding every 12 hours</dd><dd>You should see some activity but no worries when
            not. Dough is active.</dd>
          <dd>1. Remove half of the sour dough starter.</dd><dd>2. Feed the other half again with 1/2 cup of flour and 
                1/2 cup of water.</dd>
          <dt><strong>Day 7</strong></dt><dd>Note: Start feeding every 12 hours</dd><dd>1. Remove half of the sour dough starter.</dd><dd>2. Feed the other half again with 1/2 cup of flour and 
                  1/2 cup of water.</dd> 
          <dt><strong>Day 8</strong></dt><dd>Note: One last feeding</dd><dd>Your Sour Dough Starter should be ready for baking or 
            to refrigerate it. If you have any concerns it is still too young and not strong enough keep feeding for 2 more days.</dd>            
        </ol>
        <br>  
      <h3 id="bake"><a name=“bake”><br></a></h3>
        <h3>How to bake a bread with the Sour Dough Starter</h3>
        <strong>Let get us started: </strong><br>
        <p><strong>Some notes before we start:</strong><br> 
          <ul>
            <li>Please use only unbleached flour</li>
            <li>Please use only filtered water [no chlorine]</li>
            <li>Would recommend to get parchment paper that can work with temperatures up to T=450F</li>
          </ul>
        </p>
        <p><strong>Important: </strong>There are two ways to bake your bread. 
          <ul>
            <li>Using a cast iron pot</li>
            <li>directly on a cookkie sheet/bread stone (pizza stone).</li> 
          </ul>    
          <br>Both ways have their cons and pros. As I have no preference hence I will add a 
          recipe for each one. You can swap the baking method. It is totally up to you. 
        </p>
        <ol>
          <dt><strong>Recipe 1</strong></dt><dd>link using cast-iron pot</dd>
          <dt><strong>Recipe 2</strong></dt><dd>link use cookie sheet/bread stone</dd>
        </ol><br>

        <h3 id="refrig"><a name=“refrig”><br></a></h3>
        <h3>How to refrigerate the Sour Dough Starter</h3>
          <strong>Let get us started: </strong><br>
          <p><strong>Preparation</strong><br> 
           Mix 1/2 cup of Sour Dough Starter with 1 cup of flour and 1/2 cup water together. Let the mixture stand for 2 hours at room 
           temperature. Then close your jar containing the sour dough mixture with a lid and put it the refrigerator.<br>
           <strong>Please feed sour dough weekly</strong>
          </p>
          <p class="scout-first-letter">
            Please add a note with the data and content to the sour dough starter dough so that your family doesn't throw it away.
          </p>
          <h4>How to feed refrigerated the Sour Dough Starter</h4>
          <ol>
            <dt><strong>Step 1</strong></dt><dd>Take starter out of refrigerator and let it warm up (close to room temperature ~1 hours)</dd>
            <dt><strong>Step 2</strong></dt><dd>Remove all Sour Dough Starter but 4 ounces (1/2 cup) of Sour Dough Starter</dd>
            <dt><strong>Step 3</strong></dt><dd>Feed the remaining Sour Dough Starter with 1/2 cup of flour and 1/2 cup of water</dd>
            <dt><strong>Step 4</strong></dt><dd>Note: Start feeding every 12 hours until used for baking</dd><dd>1. Remove half of the sour dough starter.</dd>
            <dd>2. Feed the other half again with 1/2 cup of flour and 1/2 cup of water.</dd> 
            <dt><strong>Step 5</strong></dt><dd>When Sour Dough Starter used for baking keep always Sour Dough Starter to re-feed, refrigerate or
              to air dry. </dd>
          </ol>    

        <h3 id="react"><a name=“react”><br></a></h3>  
        <h3>How to reactivate your refrigerated Sour Dough Starter</h3>
          <strong>Let get us started: </strong><br>
          <ol>
            <dt><strong>Step 1</strong></dt><dd>Take starter out of refrigerator and let it warm up (close to room temperature ~1 hours)</dd>
            <dt><strong>Step 2</strong></dt><dd>Remove all Sour Dough Starter but 4 ounces (1/2 cup) of Sour Dough Starter</dd>
            <dt><strong>Step 3</strong></dt><dd>Feed the remaining Sour Dough Starter with 1/2 cup of flour and 1/2 cup of water</dd>
            <dt><strong>Step 4</strong></dt><dd>Wait for at least 12 hours and keep Sour Dough at room temperature</dd>
            <dt><strong>Step 5</strong></dt><dd>Put jar back in refrigerator. Update date on jar/attched note.</dd>
          </ol>  
      </div>
      <div class="w3-third w3-container">
        <p class="w3-border w3-padding-large w3-padding-32 w3-center"><image src="/images/MyFirstSourDough.jpeg" 
          alt="USS Texas" width="200" height="300"><br>Sour Dough <br>My First Sour Dough Bread</image></p>
      </div>
    </div>  
  <%- include('./includes/footer.ejs') %>
</div>
 <%- include('./includes/end.ejs') %>